body {
  background-image: url("http://wallpapercave.com/wp/p7HRiw3.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: cursive; }

.song {
  height: auto;
  background-size: contain;
  box-shadow: 15px 15px 5px ghostwhite;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  text-align: center;
  background-color: rgba(0, 75, 99, 0.3);
  overflow: hidden; }

.song:hover {
  color: orangered;
  background-color: white;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes click {
  0% {
    background-color: white;
    color: orangered; }
  100% {
    background-color: white;
    color: orangered; } }

@keyframes glow {
  0% {
    background-color: rgba(0, 75, 99, 0.3);
    box-shadow: 15px 15px 5px ghostwhite; }
  100% {
    background-color: rgba(0, 75, 99, 0.8);
    box-shadow: 15px 15px 5px grey;
    background-image: url("https://www.playframework.com/assets/images/logos/play_reverse.png"); } }

.img-container {
  mix-blend-mode: lighten;
  height: auto;
  width: 100%;
  margin: 1px;
  border: 3px solid chartreuse;
  border-radius: 10px;
  opacity: 1;
  color: chartreuse;
  text-shadow: 2px 2px 8px black;
  font-size: auto; }

.text-container {
  margin: 2px;
  width: 100%;
  border: 3px solid chartreuse;
  border-radius: 10px;
  color: chartreuse;
  text-shadow: 2px 2px 8px black;
  mix-blend-mode: lighten; }

.jumbo {
  background-color: rgba(0, 75, 99, 0.3);
  color: chartreuse;
  text-shadow: 2px 2px 8px black;
  height: 300px;
  box-shadow: 15px 15px 5px whitesmoke;
  font-family: cursive;
  text-align: center; }

.controls {
  opacity: .8;
  display: flex;
  align-items: center; }

.pic-container {
  mix-blend-mode: normal;
  flex-grow: 1;
  width: 25%;
  align-items: center; }

.picName-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  word-wrap: break-word; }

.player-container {
  margin-top: 2%;
  margin-bottom: 2%; }

.title-container {
  flex-grow: 1;
  height: auto;
  align-items: center; }

h3 {
  word-wrap: break-word;
  margin-top: 10px; }

.extra-container {
  mix-blend-mode: lighten;
  height: auto;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  color: chartreuse;
  text-shadow: 2px 2px 8px black;
  font-size: auto; }

.img-full {
  height: 100%;
  width: auto; }

.searchSongs {
  height: 400px;
  overflow-y: scroll; }

.mySongs {
  height: 200px; }

.title {
  color: chartreuse;
  text-shadow: 2px 2px 8px black;
  text-align: center; }

.faButton {
  background: transparent;
  border-width: 0px;
  border-color: transparent;
  border-image: none;
  border-style: none; }

.faButton:focus {
  animation-name: click;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.button-row {
  display: flex;
  justify-content: space-between; }

.faHead {
  background: transparent;
  border-width: 0px;
  color: chartreuse;
  text-shadow: 2px 2px 8px black;
  border-color: transparent;
  border-image: none;
  border-style: none; }

.faHead:active {
  background: orangered;
  color: orangered; }

.faHead:hover {
  color: orangered; }
